* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.font {
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    color: rgb(78, 76, 76);
}

.color-body {
    height: 100vh;
    background-color: #f8f8f8;
}

.rectangle {
    height: 450px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 1px 4px 4px 1px rgba(85, 85, 85, 0.25);
}

.btn-style {
    width: 200px;
    border-radius: 8px;
    margin-top: 10px;
    color: white;
    background-color: #224f61;
}

.image-avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}